@import "../css/normalize"
// @import "../fonts/Gilroy/stylesheet"

=r($width)
	@media only screen and (max-width: $width+ "px")
		@content

=rmin($width)
	@media only screen and (min-width: $width+ "px")
		@content

// $Museo100: 'Museo100', sans-serif
// $pink: #F80650

[v-cloak]
	display: none

body
	color: #000
	// font-family: $Museo300
	font-size: 30px
	min-width: 320px
	line-height: 1.3
	*
		font-family: inherit
		font-size: inherit
		color: inherit
		font-weight: inherit
		line-height: inherit
		transition-duration: inherit
		text-transform: inherit



